<?xml version="1.0"?>
<ruleset name="Genesis-Enews-Extended">
	<config name="minimum_supported_wp_version" value="4.9.6" />
	<config name="testVersion" value="5.4-"/>

	<rule ref="Jetpack" />

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="genesis-enews-extended" />
		</properties>
	</rule>

	<rule ref="Jetpack.Functions.I18n">
    	<properties>
    		<property name="text_domain" type="array" value="genesis-enews-extended" />
    	</properties>
    </rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array" />
			<property name="new_text_domain" value="genesis-enews-extended" />
		</properties>
	</rule>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show sniff codes in all reports -->
	<arg value="s"/>

	<arg name="colors"/>

	<!-- Ignore external libraries -->
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>

</ruleset>
