language: php
php:
  - "5.5"
  - "5.4"
  - "5.3"

env:
  - WP_VERSION=master WP_MULTISITE=0
  - WP_VERSION=3.7 WP_MULTISITE=0
  - WP_VERSION=3.7.1 WP_MULTISITE=0
  - WP_VERSION=3.7.2 WP_MULTISITE=0
  - WP_VERSION=3.7.3 WP_MULTISITE=0
  - WP_VERSION=3.8 WP_MULTISITE=0
  - WP_VERSION=3.8.1 WP_MULTISITE=0
  - WP_VERSION=3.8.2 WP_MULTISITE=0
  - WP_VERSION=3.8.3 WP_MULTISITE=0
  - WP_VERSION=3.9 WP_MULTISITE=0

# Clones WordPress and configures our testing environment.
before_script:
    - export PLUGIN_SLUG=$(basename $(pwd))
    - git clone --depth=50 --branch="$WP_VERSION" git://develop.git.wordpress.org/ /tmp/wordpress
    - cd ..
    - mv "$PLUGIN_SLUG" "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
    - cd /tmp/wordpress
    - mysql -e "CREATE DATABASE wordpress_tests;" -uroot
    - cp wp-tests-config-sample.php wp-tests-config.php
    - sed -i "s/youremptytestdbnamehere/wordpress_tests/" wp-tests-config.php
    - sed -i "s/yourusernamehere/travis/" wp-tests-config.php
    - sed -i "s/yourpasswordhere//" wp-tests-config.php
    - cd "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"

script: phpunit